
@font-face {
  font-family: shabnam;
  src: url(./fonts/Shabnam.ttf);
}
@font-face {
  font-family: shabnam_bold;
  src: url(./fonts/Shabnam-Bold.ttf);
}
@font-face {
  font-family: shabnam_light;
  src: url(./fonts/Shabnam-Light.ttf);
}
html {
  font-size: 62.5%; /* 16px x 62.5% = 10px = 1rem */
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
:root{
  --dark:rgb(3, 37, 57);
  --blue:rgb(28, 118, 143);
  --lightblue:rgb(170, 197, 224);
  --white:rgb(251, 243, 242);
  --orange:rgb(250, 153, 28);
  
}
body {
  height: 100vh;
  font-size: 1.6rem;
  font-family: shabnam, Arial, sans-serif;
  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  position: relative;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh);            /*the whole gridContainer height*/
}

/* header ****************************************/
.header {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100vw;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand{
  margin-left: 1rem;
}
.brand a{
  text-decoration: none;
  font-size: 2rem; 
  color: var(--dark);
}

.navLinks{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  height: 100%;
}


.navLinks > div{
  margin: 1.5rem .3rem;
  flex: 1;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;

}

.navLinks > div > a{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--dark);
  font-family: shabnam_light, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 3px;
  padding: 1.2rem 1.6rem;
}
.navLinks > div > a ::after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  transition: width .3s;
  background-color: rgb(7, 5, 1);
}
.navLinks > div > a :hover::after{
  width: 100%;
}
.navLinks > div > a >p{
  text-align: center;
}



.fa-caret-down{
  margin-left: 0.4rem;
}
.fa-shopping-basket{
  font-size: 1.4rem;
  position: relative;
}
.cart-badge .badge{
  position: absolute;
  top: -6px;
  left: 15px;
  background-color: var(--pink);
  font-size: 1.1rem;
  color: var(--dark);
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;

}
.user-dropdown-content{  /*ul*/
  position: absolute;
  display: none;
  right: 0;
  top: 1.1rem;
  width: 15rem;
  background-color: var(--dark);
  border-radius: .5rem;
  list-style: none;
  text-align: right;
  font-size: 1.2rem;
  overflow: hidden;
}
.user-dropdown-content > li {
    padding: 1rem .5rem;
    
}
.user-dropdown-content > li:hover{
  background-color: var(--green);
  cursor: pointer;
}
.user-dropdown-content > li > a {
  color: var(--gray);
}

.user-dropdown-content.active{
  display: block;
}

.admin-dropdown-content{           /*ul*/
  background-color: var(--dark);
  position: absolute;
  display: none;
  right: 0;
  top: 1.1rem;
  width: 15rem;
  background-color: var(--dark);
  margin: 0;
  border-radius: .5rem;
  list-style: none;
  text-align: right;
  font-size: 1.2rem;
  overflow: hidden;
}

.admin-dropdown-content > li{
  padding: 1rem .5rem;
}
.admin-dropdown-content > li:hover{
  background-color: var(--green);
  cursor: pointer;
}
.admin-dropdown-content > li > a {
  color: var(--gray);
}
.admin-dropdown-content.active{
  display: block;
}
.dropDownExit{       /*div*/
  height: 2rem;
  font-size: 1.2rem;
}

.dropDownExit>li{
  padding: .5rem .5rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--gray);
}
.dropDownExit>li:hover{
  cursor: pointer;
  color: var(--pink);
}


main {
  
  height: 100%;
  width: 100vw;
}

/* HomeScreen.js */


    .homeScreen{
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-wrap: wrap;
      color: var(--dark);
    }
    .homeScreen__left{
      flex: 1;
      height:100%;
      padding: 0;
      margin: 0;
    }
    .homeScreen__right{
      flex: 3;
      height: 100vh;
      background-image: linear-gradient(to top, #e7e8ea, #e6e8ea, #e6e9ea, #e6e9e9, #e6e9e9, #e5e8e7, #e4e7e6, #e4e6e4, #e2e3e1, #e0e0de, #dddedc, #dbdbd9);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .greeting{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .greeting>*{
      margin-bottom: 2rem;
    }
    .greeting>button{
      border: none;
      border-radius: 3px;
      padding: 1.6rem 2rem;
      background-color:#4F0113;
      cursor: pointer;
    }
    .greeting>button>a{
      color: #DBB0A3;
      font-family: shabnam, Arial, Helvetica, sans-serif;
    }
    .homeScreen__left img{
      max-height: 100vh;
      object-fit: cover;
    }
    





/*      HomeScreen.js */
.productsList{
  display: flex;
  background-color: var(--lightdark);

}


/* SigninScree.js */

.form-wrapper{
  background-color: var(--white);
  background-image: linear-gradient(to top, #e7e8ea, #e6e8ea, #e6e9ea, #e6e9e9, #e6e9e9, #e5e8e7, #e4e7e6, #e4e6e4, #e2e3e1, #e0e0de, #dddedc, #dbdbd9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 0;
  position: relative;
}

.form{
  background-color: var(--lightblue);
  border-radius: .3rem;
  width: 25%;
  box-shadow: 0 1px 1px rgba(3,37,57, .12), 0 2px 2px rgba(3,37,57, .12), 0 4px 4px rgba(3,37,57, .12),0 8px 8px rgba(3,37,57, .12), 0 16px 16px rgba(3,37,57, .12);
  
}
@media (max-width: 500px){
  .form{
    width: 90%;
  }
}
.fa-sign-in, .fa-user-plus{
  text-align: center;
  color: var(--dark);
  font-size: 2rem;
}
.fa-envelope-o , .fa-user-o, .fa-key{
  font-weight: bold;
}
.form h1{
  text-align: center;
  color: var(--dark);
  font-size: 2rem;
}
.form > div{
    display: flex;
    flex-direction: column;
    margin: 2.5rem 1rem;
}
.form > div > label{
  color: var(--dark);
  font-size: 1.3rem;
  padding: 0 .1rem;
  font-weight: bold;
  text-align: right;
}
.form > div > input{
  height: 1rem;
  width: 100%;
  padding:1.3rem .3rem ;
  margin-bottom: 1rem;
  border: none;
  background-color: var(--lightblue);
  color: var(--dark);
  border-bottom: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  caret-color: var(--dark);
}
.form > div > input::placeholder{
  color: var(--dark);
  font-size: 1.3rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  padding-left: .2rem;
}

.form > div > button {
  position: relative;
  width: 40%;
  margin: auto;
  color: var(--dark);
  height: 3rem;
  border-radius: 3px;
  background-color: var(--orange);
  outline: none;
  cursor: pointer;
  font-family: shabnam, Arial, Helvetica, sans-serif;
  border: none;
  font-weight: bold;
  z-index: 1;
}
.submitBtn:hover, .submitBtn:focus{
  color: #dbdbd9;
  font-weight: normal;
}
.submitBtn::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 3px;
  z-index: -1;
  background-color: var(--dark);
  transform: scaleX(0);
  transition: transform 200ms ease-in-out;
  transform-origin: left;
}
.submitBtn:hover::before, .submitBtn:focus::before{
transform: scaleX(1);
}

.form .change{
  font-size: 1.3rem;
  text-align: right;
  color: var(--dark);
}
.form .change a{
  margin-right: 1rem;
  color: var(--dark);
  font-size: 1.3rem;
  font-weight: bold;
}






.loading{
  color: var(--gray);
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.msgBoxWrapper{
  position: absolute;
  top: 2rem;
}
.success {
  color: green;
}

.alert{
padding: 1rem;
border: 0.1rem solid transparent;
border-radius: .5rem;
}
.alert-info{
  color: blue;
  background-color: white;
}
.alert-danger{
  color: var(--dark);
  background-color: var(--pink);
  font-size: 1.4rem;
  box-shadow: 1px 1px 5px 0px var(--dark);

}
.alert-success{
  color: black;
  background-color: green;
}







/* Common 
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}
ul {
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
button ,input, select, textarea{
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem gray;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif; 
}
button{
  background-color: var(--white);
  cursor: pointer;
}
button:hover, input:hover, select:hover, textarea:hover{
  border: 0.1rem solid black;
}
.button.primary {
  background-color: var(--orange2);
}
button.block {
  width: 100%;
}
/* Header */
/*.navLinks{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.userNameLink{
  background-color: rgb(97, 28, 28);
}
.adminLink{
  background-color: rgb(17, 4, 4);
}
header a {
  color: #9CADC4;
  padding: 2rem;
}
.cart-badge{
  position:relative;
  background-color: #fff;
}
a.brand {
  color: #C18500;
  font-size: 2rem;
  font-weight: bold;
}

.badge{
  background-color: var(--green);
  color: var(--dark);
  font-weight: bold;
  border-radius: 50%;
  position: absolute;
  padding: .3rem .3rem;
  font-size: 1.3rem;
  margin-left: .2rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
  background-color: rgb(133, 23, 23);
}
.col-2 {
  flex: 2 1 30rem;
  background-color: rgb(106, 199, 145);
}
.col-2.ProductWrapper{
  display: flex;
  justify-content: center;
}
.min-30{
  min-width: 30rem;
}
/* Image */
/*img {
  border-radius: 0.5rem;
}
img.small{
  max-width: 5rem;
  width: 100%;

}
img.medium {
  max-width: 29rem;
  width: 100%;
}
/* Card */
/*.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #9CADC4;
  font-weight: 100;
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
  
}
.product-name{
  color: #B0A8B9;
}
.card-body ul{
  padding: 0;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
}
/* Rating */
/*.rating{
  display: flex;
  justify-content: space-between;
}
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}
.rating span:first-child {
  color: #203040;
}
/*alert*/ 
/*.loading{
  display: block !important;
}

.success {
  color: green;
}
.danger {
  color: red;
}
.alert{
padding: 1rem;
border: 0.1rem solid transparent;
border-radius: .5rem;
}
.alert-info{
  color: blue;
  background-color: white;
}
.alert-danger{
  color: red;
  background-color: pink;
}
.alert-success{
  color: black;
  background-color: green;
}

/* CartScreen.js */


/*.cart-wrapper ul li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.imgWrapper{
display: flex;
align-items: center;
}
.imgWrapper img{
 height: 100px;
 width: 100px;
 
}

/* form */
/*.form{
  width: 30rem;
  margin: 0 auto;
}
.form > div{
  width: 50rem;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.form > div > input{
  width: 50%;
  padding:1rem 0 ;
  border: 1px solid black;
  background-color: rgb(133, 47, 47);
}

.form > div > button {
  width: 50%;
  background-color: rgb(192, 146, 18);
  border: 1px solid black;
}
.form label{
  margin: 1rem 1rem;
}

/* dropdown*/
 /*.dropdown{
   display: inline-block;
   position: relative;
 }
 .dropdown-content{
   position: absolute;
   display: none;
   right: 0;
   min-width: 12rem;
   padding: 1rem;
   z-index: 1;
   background-color: #203040;
   margin: 0;
   margin-top: 0.4rem;
   border-radius: .5rem;
 }

 .dropdown:hover .dropdown-content{
   display: block;
 }
/* checkoutSteps */
/*.checkout-steps > div{
  border-top: .3rem #c0c0c0 solid;
  flex:1;
  padding: 1rem;
  font-weight: bold;
}

.checkout-steps > div.active{
  border-top-color: orange;
  color:orange;

}

/* placeOrder page */
/*.recipt-summary{
  flex: 2;
  background-color: rgb(46, 45, 45);
  border-radius: 3px;
}
.recipt-summary > ul > li > div{
  background-color: rgb(194, 194, 194);
}
.price-summary{
  flex: 1;
}
.price-summary > div > ul   {
  padding: 5px;
}
.price-summary > div > ul > li > button {
  background-color: gold;
}
 .submit-placeOrder:hover{
  border : none;
  background-color:rgb(219, 186, 0);
}*/
/* orderHistory 
// .orderHistory{
//   height: 100%;
//   padding: 1rem;

// }
// .table{
//   background-color: #fd794f;
//   padding: 1rem;
//   width: 100%;
//   border-radius: 5px;
// }
// .table tr{
//   text-align: center;
// }
// .table .orderHistoryBtn{
//  color: #131313;
//   background-color: #3f8a89;
//   width: 100%;
//   font-size: 1.5rem;
//   padding: .8rem 1rem;

// }
// .orderHistoryBtn:hover{
//   border: none;
// }
*/
