.productsContainer{
    height: 100vh;
    width: 100vw;
    padding-top: 3rem;
    overflow: auto;
}

.loadBox .loading{
    width: 30%;
    margin: auto;
}
.productsList{
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(124, 41, 41);
    padding: 5px;
}

