.placeOrder-container {
  background-color: #fff;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
}
.placeOrder-checkoutSteps {
  display: flex;
  justify-content: center;
}
.recipt-wrapper {
  background-color: rgb(28, 128, 89);
}
.recipt-wrapper ul {
  padding: 0;
}
.recipt-summary {
  padding: 2rem;
}
.recipt-summary > ul > li {
  display: flex;
  flex-direction: column;
}
.recipt-summary > ul > li:nth-of-type(1) > div {
  text-align: right;
  background-color: var(--candy);
  color: var(--dark);
  padding: 1rem;
  border-radius: 0.3rem;
}
.recipt-summary > ul > li:nth-of-type(1) > div > p:nth-of-type(1) {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.recipt-summary > ul > li:nth-of-type(1) > div > p:nth-of-type(2) {
  font-size: 1.3rem;
}

.recipt-summary .orderItemsWrapper {
  margin-top: 2rem;
  background-color: rgb(179, 121, 121);
  
}
.recipt-summary .orderItemsWrapper p.title {
  text-align: center;
  font-size: 1.6rem;
  padding: 1rem;
}
.recipt-summary .img-details-wrapper {
  /*ul*/
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.imgDetailsLi{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipt-summary .img-details-wrapper .imgDetailsLi .wrapperDiv {
  background-color: var(--dark);
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
}

.recipt-summary .img-details-wrapper .imgDetailsLi:nth-of-type(1) {
  margin-right: 1rem;
}
.recipt-summary .img-details-wrapper .imgDetailsLi a {
  padding: 0.5rem;
  text-align: center;
  color: var(--candy);
  width: 100%;
}
.recipt-summary .priceWrapper {
  padding: 0.3rem;
  text-align: center;
  color: var(--lighterdark);
  font-weight: bold;
}
.recipt-summary .img-details-wrapper .imgWrapper img {
  border-radius: 0.3rem 0.3rem 0 0;
  max-width: 100%;
  object-fit: cover;
}
