.header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 3rem;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .hamMobileOnly, .badgeMobileOnly, .sidebar{
    display: none;
  }
  
  .brand{
    margin-left: 1rem;
  }
  .brand a{
    text-decoration: none;
    font-size: 2rem; 
    color: var(--dark);
  }
  
  .navLinks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  
  .navLinks > div{
    margin: 1.5rem .3rem;
    flex: 1;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
  
  }
  
  .navLinks > div > a{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark);
    font-family: shabnam_light, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 3px;
  }
  
  .navLinks > div > a ::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    transition: width .3s;
    background-color: rgb(7, 5, 1);
  }
  .navLinks > div > a :hover::after{
    width: 100%;
  }
  .navLinks > div > a >p{
    text-align: center;
  }
  
  
  
  .fa-caret-down{
    margin-left: 0.4rem;
  }
  .fa-shopping-basket{
    font-size: 1.4rem;
    font-weight: bold;
    position: relative;
    color: var(--dark);
  }
  .cart-badge .badge{
    position: absolute;
    top: -6px;
    left: 15px;
    background-color: var(--pink);
    font-size: 1.1rem;
    color: var(--dark);
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
  
  }
  .user-dropdown-content{  /*ul*/
    position: absolute;
    display: none;
    right: 0;
    top: 1.1rem;
    width: 15rem;
    background-color: var(--dark);
    border-radius: .5rem;
    list-style: none;
    text-align: right;
    font-size: 1.2rem;
    overflow: hidden;
  }
  .user-dropdown-content > li {
      padding: 1rem .5rem;
      
  }
  .user-dropdown-content > li:hover{
    background-color: var(--green);
    cursor: pointer;
  }
  .user-dropdown-content > li > a {
    color: var(--gray);
  }
  
  .user-dropdown-content.active{
    display: block;
  }
  
  .admin-dropdown-content{           /*ul*/
    background-color: var(--dark);
    position: absolute;
    display: none;
    right: 0;
    top: 1.1rem;
    width: 15rem;
    background-color: var(--dark);
    margin: 0;
    border-radius: .5rem;
    list-style: none;
    text-align: right;
    font-size: 1.2rem;
    overflow: hidden;
  }
  
  .admin-dropdown-content > li{
    padding: 1rem .5rem;
  }
  .admin-dropdown-content > li:hover{
    background-color: var(--green);
    cursor: pointer;
  }
  .admin-dropdown-content > li > a {
    color: var(--gray);
  }
  .admin-dropdown-content.active{
    display: block;
  }
  .dropDownExit{       /*div*/
    height: 2rem;
    font-size: 1.2rem;
  }
  
  .dropDownExit>li{
    padding: .5rem .5rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--gray);
  }
  .dropDownExit>li:hover{
    cursor: pointer;
    color: var(--pink);
  }

/* Mobile */

@media (max-width:600px){
  .navLinks{
    display: none;
}
    .header{
        position: absolute;
        top: 0;
        z-index: 2;
        height: 3rem;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0.5rem;
    }
  
   
   .hamMobileOnly{
     flex:1;
     display: flex;
     align-items: center;
     justify-content: flex-start;
     width: 2rem;
     height: 2rem;
     
   }
   .fa-bars{
     color: var(--dark);
     font-size: 2.5rem;
     cursor: pointer;
   }
   .badgeMobileOnly{
    flex:1;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 2rem;
   }
   .brand{
    text-align: right;
    flex:1;
    margin: 0;
  }
  .sidebar{
    display: block;
  }
}